[submodule "cmake"]
	path = cmake
	url = https://github.com/n7space/cmake-tools
[submodule "SAMV71-BSP"]
	path = SAMV71-BSP
	url = git@github.com:n7space/SAMV71-BSP.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
