[submodule "cmake"]
	path = cmake
	url = https://github.com/n7space/cmake-tools
[submodule "SAMV71-BSP"]
	path = SAMV71-BSP
	url = https://github.com/n7space/SAMV71-BSP
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
